<div class="container" *ngIf="backgroundImage" fxLayout="row" fxLayout.xs="column"
    [style.background]="backgroundImage" [style.background-color]="'black'"
    [style.background-size]="'cover'" [style.background-position]="'center'"
    [style.padding]="'20px'">
  <div class="container" fxLayout="column" fxFlex="1 1 auto">
    <span>
      <img src="assets/gd_logo1.png" height="60">
      <h1>{{ title }}</h1>
      <h2>{{ subtitle }}</h2>
    </span>
  </div>
  <div fxFlex="5 1 auto"></div>
  <div class="container" fxLayout="column" fxFlex="1 1 auto">
    <h2>Historical Weather:</h2>
    <p>
      max. temperature: {{ selectedEvent.weather.maxTemperature }} °F<br>
      precipitation: {{ selectedEvent.weather.precipitation }} in<br>
      wind: {{ selectedEvent.weather.wind }} mph {{ selectedEvent.weather.wind_direction }}
    </p>
  </div>
</div>