<div fxLayout="column" [style.height]="loaded && !minimized ? '120px' : '20px'">
  <img *ngIf="player.getCurrentTrack().waveform" class="image"
    [lazyLoad]="player.getCurrentTrack().waveform" [style.height]="'100px'"
    [class.flashy]="loaded" (load)="loaded = true" [hidden]="minimized">
  <input type="range" min="0" max="{{player.maxTime}}"
    [(ngModel)]="player.currentTime" (ngModelChange)="player.setTime($event)"/>
</div>
<div fxLayout="row">
  <button mat-flat-button fxFlex (click)="player.play()"> 
    <mat-icon>play_arrow</mat-icon></button>
  <button mat-flat-button fxFlex (click)="player.pause()">
    <mat-icon>pause</mat-icon></button>
  <button mat-flat-button fxFlex (click)="player.stop()">
    <mat-icon>stop</mat-icon></button>
  <button mat-flat-button fxFlex (click)="player.previousTrack()">
    <mat-icon>skip_previous</mat-icon></button>
  <button mat-flat-button fxFlex (click)="player.nextTrack()">
    <mat-icon>skip_next</mat-icon></button>
  <button mat-flat-button fxFlex (click)="player.toggleMute()">
    <mat-icon>{{player.muted ? 'volume_up' : 'volume_off'}}</mat-icon></button>
  <!-- <button mat-flat-button fxFlex (click)="addRandomTrack()">
    <mat-icon>playlist_add</mat-icon></button> -->
  <button mat-flat-button fxFlex (click)="minimized = !minimized">
    <mat-icon>{{minimized ? 'visibility' : 'visibility_off'}}</mat-icon></button>
  <mat-slider type="range" min="0" max="100" value="100" step="1" (input)="volumeChange($event.value)"></mat-slider>
  <button mat-flat-button fxFlex *ngIf="player.playlist.length>0 && currentUser" (click)="onSavePlaylist()">save playlist</button>
</div>

<div fxLayout="column">
  <div class="playlist" *ngFor="let s of player.playlist; index as i"
      [hidden]="minimized && s !== player.getCurrentTrack()"
      [style.color]="s === player.getCurrentTrack() ? '#3d3d3d' : 'grey'"
      (click)="player.skipToTrack(s)">
    {{s.title}} 
    <button mat-icon-button color="" (click)="delTrack(i)"><mat-icon>clear</mat-icon></button>
  </div>
</div>