button
  background-color: #a8a886
  border: 1px solid #3e3c2d
  color: #3e3c2d
  text-align: center

button:focus
  outline: 0

button:active
  background: #3e3c2d

.playlist
  font-size: 80%

.flashy
  background-image: linear-gradient(to bottom right, #2a398a, #dc3030)