button
  background-color: #fcfcfc
  border: 1px solid #3d3d3d
  color: #3d3d3d
  text-align: center
  border-radius: 5px

button:focus
  outline: 0

button:active
  background: #3d3d3d

.playlist
  font-size: 80%

.flashy
  background-image: linear-gradient(to bottom right, #2a398a, #dc3030)


.mat-icon-button 
  border: 1px solid #3d3d3d
  border-radius: 5px