<div fxLayout="column" class="gd-container">
  <div *ngFor="let e of events" fxLayout="row" fxLayoutAlign=" center">
    <img fxLayout="column" class="image field" fxFlex="1 1 15%"
      [style.width]="'80px'" [style.height]="'60px'"
      [defaultImage]="'assets/gd_placeholder.png'"
      [lazyLoad]="e.photo || e.ticket"
      [style.object-fit]="'cover'" >
    <div fxLayout="column" fxFlex="1 1 25%" fxLayoutAlign="center"
        [ngStyle.xs]="{'font-size': '80%'}" class="field">
      {{ e.date }}
    </div>
    <div fxLayout="column" fxFlex="1 1 30%" fxLayoutAlign="center"
        [ngStyle.xs]="{'font-size': '80%'}" class="field">
      {{ e.venue }}
    </div>
    <div fxLayout="column" fxFlex="1 1 20%" fxLayoutAlign="center"
        [ngStyle.xs]="{'font-size': '80%'}" class="field">
      {{ e.location }}
    </div>
    <button mat-icon-button fxLayout="column" class="field" fxFlex="1 1 10%"
      (click)="onOptions(e)"><mat-icon>more_horiz</mat-icon>
    </button>
  </div>
</div>