<style>
.loader {
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  border: 3px solid #ddd;
  border-top: 3px solid #42a5f5;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin-left: 12px;
}

@-webkit-keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }

}
</style>

<div *ngIf=!loaded class="wait">
     <div class="loader"></div>
</div>


<div id="maploaded">
    <div class="center">
    <select [(ngModel)]="selectedTour" (ngModelChange)="tourChanged($event)">
        <option *ngFor="let l of layerNames" ngValue="{{l}}"> {{l}}</option>
    </select>
    </div>

    <div id="MapContainer" 
        leaflet
        [leafletOptions]="mapOptions"
        (leafletMapReady)="onMapReady($event)">
    </div>
</div> 


