
<div class="scale">
    <button class="button">
        <a class="donate-with-crypto"
        href="https://commerce.coinbase.com/checkout/cf3fb990-784c-4a60-ab72-82686ee97fca" target="_blank">
        donate with crypto
        </a>
        <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
        </script>
    </button>
    <iframe src="https://www.buymeacoffee.com/widget/page/gratefullive?color=235F7FFF" style="position: relative;   height: 100%; width: 100%; top: 0;  bottom: 0; left: 0; border: 0"></iframe>',
</div>


