
<!--<div *ngIf="auth.userProfile$ | async as profile">
<gd-header title='Profile' subtitle='{{ profile["http://example.com/username"]}}'></gd-header>-->
<div *ngIf="currentUser">
<gd-header title='Profile' subtitle='{{ currentUser.userName }}'></gd-header>
<pre>
  <code>{{ userProfile | json }}</code>
</pre>
<div *ngIf="bookmarks">
  Bookmarks
    <div *ngFor="let t of bookmarkTypes">
      <div class *ngIf="bookmarks[t]?.length > 0">
        <br>{{t+'s' |titlecase}}:
        <div *ngFor="let b of bookmarks[t]">
        <u class="field"
        [routerLink]="['/'+t, b]">
        {{ b }}
        </u>
        </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="!currentUser">
  <gd-header title='Profile'></gd-header>
  <pre>you are not logged in</pre>
</div>



<!--</div>-->


