
<!--<div *ngIf="auth.userProfile$ | async as profile">
<gd-header title='Profile' subtitle='{{ profile["http://example.com/username"]}}'></gd-header>-->
<div *ngIf="currentUser">
<gd-header title='Profile' subtitle='{{ currentUser.userName }}'></gd-header>
<pre>
  <code>{{ userProfile | json }}</code>
</pre>
<div *ngIf="bookmarks">
  <br>Bookmarks<br>
    <div *ngFor="let b of bookmarks">
          {{b.timestamp}} <u class="field" [routerLink]="b.route">{{ b.route }}</u>
    </div>
</div>
</div>

<div *ngIf="!currentUser">
  <gd-header title='Profile'></gd-header>
  <pre>you are not logged in</pre>
</div>

<br><button (click)="testButton()">test</button>



<!--</div>-->


