<div *ngIf="recording" fxLayout="column">
  <gd-header *ngIf="recording" title='{{ recording.info.etreeId }}'
    subtitle='{{event.location}}'>
  </gd-header>
  <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxFlex="100">
    <p>Lineage: {{ recording.info.lineage }}</p>
    <p>Source: {{ recording.info.source }}</p>
    <p>Note: {{ recording.info.notes }}</p>
    <p>Keywords: {{ recording.info.keywords }}</p>
  </div>
  <div *ngFor="let t of recording.tracks">
    <span>{{ t.track }}: {{ t.title }}</span>
    <button mat-icon-button (click)="openRecordingOptionsDialog(r)">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>
</div>