div.transbox
  margin: 10px
  background: rgba(0,0,0, 0.4)
  border-radius: 20px
  filter: alpha(opacity=60); /* For IE8 and earlier */

div.transbox i 
  margin: 5%
  color: #ffffff

div.transbox p
  margin: 5%
  color: #ffffff