<div *ngIf="event" fxLayout="column" [style.padding]="'0px'">
  <gd-header *ngIf="event" title='{{event.location.name}}, {{event.location.state}}' subtitle='{{event.date}}'
    imageUrl="{{eventImage}}">
    <gd-weather [weather]="event.weather"></gd-weather>
  </gd-header>
  <div fxLayout="row wrap" fxLayout.xs="column" [style.padding]="'10px'">
    
    <div fxLayout="column" fxFlex="50" [routerLink]="['/location', event.location.id]" [style.padding]="'10px'">
      <p>Location: {{ event.location.name }}</p>
      <img class="image" *ngIf="event.location.thumbnail" [lazyLoad]="event.location.thumbnail" fxFlex="1 1 auto">
    </div>
    
    <div fxLayout="column" fxFlex="50" [routerLink]="['/venue', event.venue.id]" [style.padding]="'10px'">
      <p>Venue: {{ event.venue.name }}</p>
      <img class="image" *ngIf="event.venue.thumbnail" [lazyLoad]="event.venue.thumbnail" fxFlex="1 1 auto">
    </div>
    
    <div fxLayout="column" fxFlex="50" [style.padding]="'10px'">
      <div fxLayout="column" *ngFor="let set of event.setlist">
        <p>{{ set.name }}</p>
        <div fxLayout="row" *ngFor="let song of set.songs" [routerLink]="['/song', song.id]">
          {{ song.name }}
          <button mat-icon-button fxLayout="column" class="field" fxFlex="1 1 10%">
            <mat-icon [style.vertical-align]="'middle'" (click)="onSongOptionsClick(s)"
              [style.horizontal-align]="'right'">more_horiz</mat-icon>
          </button>
        </div>
      </div>
    </div>
    
    <div fxLayout="column" fxFlex="50" [style.padding]="'10px'">
      <p>Lineup</p>
      <div *ngFor="let p of event.performers" [routerLink]="['/musician', p.id]" fxFlex="1 1 auto" fxLayout="row">
        <img class="image" fxFlex="1 1 25%" [lazyLoad]="p.thumbnail" [style.height]="'70px'">
        <div>{{ p.name }} ({{ p.instruments.join(', ') }}) </div>
      </div>
    </div>
    
    <!--div fxLayout="column" fxFlex="1 1 auto">
      <iframe [src]="recordingUrls[0]" [style.min-width]="'350px'" [style.height]="'100%'" frameborder="0"></iframe>
    </div-->
    
  </div>
  
  <p *ngIf="photos.length" [style.padding-left]="'20px'">Photos from the show</p>
  
  <div *ngIf="photos.length" fxLayout="row wrap" fxLayout.xs="column" [style.padding]="'10px'">
    <div *ngFor="let s of photos" fxLayout="column" fxFlex="33" fxFlex.xs="100" [style.padding]="'10px'">
      <img class="image" [lazyLoad]="s">
    </div>
  </div>
  
  <p *ngIf="artifacts.length" [style.padding-left]="'20px'">Artifacts from psilo</p>
  
  <div *ngIf="artifacts.length" fxLayout="row wrap" fxLayout.xs="column" [style.padding]="'10px'">
    <div *ngFor="let a of artifacts" fxLayout="column" fxFlex="33" fxFlex.xs="100" [style.padding]="'10px'">
      <p>{{ a.type }}</p>
      <img class="image" [lazyLoad]="a.image">
    </div>
  </div>
</div>
