<div *ngIf="event" fxLayout="column" [style.padding]="'0px'">
  <div class="container" fxLayout="row" fxLayout.xs="column" *ngIf="backgroundImage" [style.background]="backgroundImage"
      [style.background-color]="'black'" [style.background-size]="'cover'"
      [style.background-position]="'center'" [style.padding]="'20px'">
    <div class="container" fxLayout="column" fxFlex="1 1 auto">
      <span>
        <img src="assets/gd_logo1.png" height="60">
        <h1>{{ event.location.name }}</h1>
        <h2>{{ event.date }}</h2>
      </span>
    </div>
    <div fxFlex="5 1 auto"></div>
    <div class="container transbox" fxLayout="column" fxFlex="1 1 auto">
      <!-- <h2>Historical Weather:</h2> -->
      <h1>
        <i class="wi {{ event.weather.conditionIcon }}"></i>
        <i class="wi {{ event.weather.windDirectionIcon }}"></i>
      </h1>
      <p>{{ event.weather.condition }}</p>
      <p>
        max. temperature: {{ event.weather.maxTemperature }} °F<br>
        precipitation: {{ event.weather.precipitation }} in<br>
        wind: {{ event.weather.wind }} mph {{ event.weather.windDirection }}
      </p>
    </div>
  </div>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxFlex="100" >
    <div class="container" fxLayout="column" fxFlex="1 1 auto" [style.padding]="'20px'">
      <div fxFlex="1 1 auto">Location: {{ event.location.name }}</div>
      <img class="image" *ngIf="event.location.thumbnail" src="{{ event.location.thumbnail }}" fxFlex="1 1 auto">
    </div>
    <div fxFlex="5 1 auto"></div>
    <div routerLink="/venue" class="container" fxLayout="column" fxFlex="1 1 auto" [style.padding]="'20px'">
      <div fxFlex="1 1 auto">Venue: {{ event.venue.name }}</div>
      <img class="image" *ngIf="event.venue.thumbnail" src="{{ event.venue.thumbnail }}" fxFlex="1 1 auto">
    </div>
  </div>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxFlex="100" >
    <div class="container" fxLayout="column" fxFlex="2 1 auto" [style.padding]="'20px'">
      <p>Setlist:</p>
      <li *ngFor="let s of event.setlist" style="list-style-type:none;">
        {{ s.name }}
      </li>
    </div>
    <div class="container" fxLayout="column" fxFlex="1 1 auto">
      <iframe [src]="selectedRec.url" [style.min-width]="'350px'" [style.height]="'100%'" frameborder="0"></iframe>
    </div>
    <div class="container" fxLayout="column" fxFlex="1 1 auto" [style.padding]="'20px'">
      <div *ngFor="let p of event.performers">
        <div fxFlex="1 1 auto" fxLayout="row" class="gallery">
          <img class="img-click" src="{{ p.thumbnail }}" [style.max-height]="'70px'" (click)="openDialog(p.image)">
          <div class="desc">{{ p.name }} ({{ p.instruments.join(', ') }}) </div>
        </div>
      </div>
    </div>
  </div>
  <footer style="height: 40px"></footer>
</div>
