@import '@angular/material/prebuilt-themes/pink-bluegrey.css'
//@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap')
@import 'ngx-sharebuttons/themes/default/default-theme.scss'
@import '~@ng-select/ng-select/themes/material.theme.css'

//$font-stack:    Helvetica, sans-serif
//$font-stack:    "Trebuchet MS", Helvetica, sans-serif
$font-stack:    'Source Sans Pro', sans-serif

body
  margin: 0
  //background-color: #222222
  background-color: #fcfcfc
  font: 100% $font-stack
  color: #3d3d3d

html, body
  height: 100%
  width: 100%

a
  color: inherit
  text-decoration: inherit
  cursor: pointer

.image
  //height: 100%
  object-fit: cover

.ticket
  height: 30%
  object-fit: cover
  
footer
  position: fixed
  width: 100%
  bottom: 0px
  background-color: #ededed

.gd-section
  padding-left: 20px

.gd-container
  padding: 25px

.gd-artifact
  padding: 2px


.mat-icon-button
  line-height: 0px !important
  padding: 0px !important
  height: 100% !important

h2 
  display: block
  font-size: 1.35em
  margin-top: 0.2em
  margin-bottom: 0.5em
  margin-left: 0
  margin-right: 0
  font-weight: bold

.normweight
  font-weight: normal

h3 
  display: block
  font-size: 1.1em
  margin-top: 0.6em
  margin-bottom: 0.2em
  margin-left: 0
  margin-right: 0
  font-weight: bold

figure 
    display: table
    margin: 0 auto


.p1 
  font-size: 0.8em
  text-align: right
  //margin-right: 0.3em

.topmargin
  margin-top: 35px

.titlef
  //background-color: #3d3d3d
  //color: #fcfcfc
  margin-top: 0.6em
  color: #3d3d3d
  border-right: 5px //solid #3d3d3d
  border-left: 5px //solid #3d3d3d
  border-top: 1px //solid #3d3d3d
  border-bottom: 1px //solid #3d3d3d

.mat-dialog-container 
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12)
  background: #fcfcfc
  color: #3d3d3d
  text-align: center
  font-size: 1.1em

.mat-dialog-title
  //font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif
  font-size: 1em
  font-weight: bold

button
  background-color: #fcfcfc
  border: 1px solid #3d3d3d
  color: #3d3d3d
  text-align: center
  font-size: 1em
  
button:focus
  outline: 0

button:active
  background: #3d3d3d

.mat-icon-button
  border: 1px solid #3d3d3d

.link
  cursor: pointer
  text-decoration: underline

#galleryContainer
  width: 100%
  //margin: 5em auto
  padding: 0
  background-color: #ededed

  .ng2-carouselamos-container
    padding: 5
    width: 100%
    margin: auto
    

  .slide-items
    margin-right: 5px
    cursor: pointer

    img
      width: 210px
