<div  style="height: auto; width: auto;">
  <vis-chatterBox *ngIf='heading != ""'
      [heading]=heading
      [headerImage]=headerImage
      [allComments]=allComments
      [inputMaxLength]=250
      [currentUserId]=currentUserId
      [showErrorDiv]=showErrorDiv
      [errorMsg]=errorMsg
      [placeholderText]=placeholderText
      (onKeyupEnter)=sendMessage($event)
      (emitReport)=onReportComment($event)
      (emitDelete)=onDeleteComment($event)
  >
  </vis-chatterBox>

  <vis-chatterBox *ngIf='heading == ""'
      heading=""
      [headerImage]=headerImage
      [allComments]=allComments
      [inputMaxLength]=0
      [showErrorDiv]=showErrorDiv
      [errorMsg]=errorMsg
      placeholderText="please log in to comment"
  >
  </vis-chatterBox>
</div>


